<div padding=10px>
  <table class="table table-hover table-lg" align="center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">LP.</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Utworzono</th>
        <th scope="col">ID</th>
        <th scope="col">Akcja</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark" *ngFor="let task of tasks$ | async; let i = index">
        <td>{{i+1}}</td>
        <td>{{task.name}}</td>
        <td>{{task.createDate}}</td>
        <td>{{task.id}}</td>
        <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteClick(task.id)">Usuń</button></td>
      </tr>
    </tbody>
  </table>

</div>
<div>
  <button type="button" class="btn btn-outline-dark btn-m">Dodaj zadanie</button>
</div>
