<div>
  <h3>tasks-list works!</h3>
</div>

<div>
  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">LP.</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Utworzono</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark" *ngFor="let task of tasks$ | async; let i = index">
        <td>{{i+1}}</td>
        <td>{{task.name}}</td>
        <td>{{task.createDate}}</td>
        <td><button type="button" class="btn btn-outline-dark btn-sm">Usuń</button></td>
      </tr>
      <tr>
        <td>Numer</td>
        <td>Dwa</td>
        <td>Trzy</td>
        <td>cztery</td>
      </tr>

    </tbody>
  </table>
</div>
