<ng-container *ngIf="tasks.length > 0; else noTask">
  <p [ngStyle]="{color: getColor()}">Zadania do wykonania: {{tasks.length}}</p>
  <ul>
    <li *ngFor="let task of tasks | sortPipe; let odd = odd" [ngClass]="{'odd-li' : odd, 'last-li' : tasks.length === 1}">
      {{task.name | transformTask: '!'}}
      <button type="button" class="btn btn-danger" (click)="remove(task)">Usun</button>
      <button type="button" class="btn btn-success" (click)="complete(task)">Zrobione</button>

    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p>Nie masz zadañ - czas wolny! :) </p>
</ng-template>
