input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span.help-block {
  color: red;
  font-style: italic;
  font-size: 12px;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

span.alert-heading {
  color: red;
  font-style: italic;
  font-size: 12px;
}
