<div class="container-fluid border border-danger rounded">
  <div class="row justify-content-center">
    TUTAJ COSIK BEDZIE
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-4 border border-dark">
      TYP RACHUNKU
      <div *ngFor="let bill of billTypes">
        {{bill}}
      </div>
    </div>

    <div class="col-sm-8 border border-dark">
      ODPOWIEDNIE WPISY
    </div>

  </div>

  <div>
    TESTOWANIE

    <button class="btn btn-sm btn-primary" (click)="getRequest()">Send request</button>
    <button class="btn btn-sm btn-warning" (click)="postRequest()">Post request</button>
  </div>
</div>
