<div class="container-fluid border border-danger rounded">
  <div class="row justify-content-center h3">
    Miesiąc:
  </div>
  <hr>

  <div class="border border-warning"
       href="#regularBillsTable"
       data-toggle="collapse"
       appDivHover="true">
    <h4>Wydatki regularne: {{totalStandardBillsValue | currency: 'PLN '}}</h4>
  </div>

  <div id="regularBillsTable" class="collapse">

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Lp.</th>
        <!--<th>Typ</th>-->
        <th>Nazwa</th>
        <th>Ilosc</th>
        <th>Cena</th>
        <th>Kwota</th>
        <th>Uwagi</th>
        <th>Akcje</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let bill of bills ; index as idx">
        <td>{{idx + 1}}</td>
        <td>{{bill.type}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.price | currency : 'PLN '}}</td>
        <!--<td>{{bill.name}}</td>-->
        <td>{{bill.calcBillValue() | currency : 'PLN '}}</td>
        <td>{{bill.note}}</td>
        <td>
          <button class="btn btn-sm btn-success">Edytuj</button>
        </td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <th [attr.colspan]="4">Razem:</th>
        <th [attr.colspan]="2">{{totalStandardBillsValue | currency: 'PLN '}}</th>
      </tr>
      </tfoot>

    </table>

  </div>
  <hr>

  <div>
    <div class="border border-warning"
         href="#extraBillsTable"
         data-toggle="collapse"
         appDivHover="true">
      <h4>Wydatki losowe: </h4>
    </div>

    <!--<div id="extraBillsForm" class="collapse">-->
    <div id="extraBillsTable" class="collapse">

      <form [formGroup]="extraBillsForm">
        <div formArrayName="extraBills">
          <div *ngFor="let billForm of getFormArrayElements().controls; let i=index">

            <div [formGroupName]="i">
              <div class="form-row small">

                <div class="form-group col-md-2">
                  <label for="billName">Nazwa</label>
                  <input type="text" id="billName" formControlName="billName" [ngClass]="getFormClass()">
                </div>

                <div class="form-group col-md-1">
                  <label for="amount">Ilosc</label>
                  <input type="number" id="amount" formControlName="amount" [ngClass]="getFormClass()" [min]="minValue">
                </div>

                <div class="form-group col-md-1">
                  <label for="price">Cena</label>
                  <input type="number" id="price" [ngClass]="getFormClass()" [min]="minValue">
                </div>

                <div class="form-group col-md-2">
                  <label for="value">Kwota</label>
                  <input type="number" id="value" [ngClass]="getFormClass()" [readonly]="true" [value]=1500>
                </div>

                <div class="form-group col-md-4 justify-content-center">
                  <label>Uwagi</label>
                  <div>
                    <button class="btn btn-sm btn-outline dropdown-toggle btn-block" type="button" id="monthsCombobox"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      Combobox
                    </button>

                    <div class="dropdown-menu col-sm-5" aria-labelledby="monthsCombobox">
                      <ul [ngStyle]="{'list-style-type': 'none'}">
                        <li>Cena jednostkowa</li>
                        <li>Cena za miesiac</li>
                      </ul>
                    </div>

                  </div>
                </div>

                <div class="form-group col-md-2 justify-content-center">
                  <label for="value">Akcja</label>
                  <div class="btn-group-sm">
                    <button id="{{'btn' + i}}"
                            class="btn btn-sm btn-success"
                            [ngStyle]="{width: '50%'}"
                            (click)="editExtraBill(i)">
                      {{buttonDescription}}
                    </button>
                    <button class="btn btn-sm btn-danger" [ngStyle]="{width: '50%'}" (click)="removeExtraBill(i)">X
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>

      <div>
        <button class="btn btn-sm btn-warning" (click)="addNewExtraBill()">Dodaj wiersz</button>
      </div>

    </div>

  </div>

  <div class=" row justify-content-center">

  </div>

  <div>
    TESTOWANIE

    <button class="btn btn-sm btn-primary" (click)="getRequest()">Send request</button>
    <button class="btn btn-sm btn-warning" (click)="postRequest()">Post request</button>
  </div>
</div>
