<div padding=10px>
  <table class="table table-hover table-lg" align="center">
    <thead class="thead-dark">
    <tr>
      <th scope="col">LP.</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Utworzono</th>
      <th scope="col">ID</th>
      <th scope="col">Akcja</th>
    </tr>

    </thead>
    <tbody>

    <tr class="table-dark" *ngFor="let task of tasks$ | async; let i = index " [routerLink]="['/taskDetail', task.id]">
      <td>{{i+1}}</td>
      <td>{{task.name}}</td>
      <td>{{task.createDate}}</td>
      <td>{{task.id}}</td>
      <td>
        <div>
          <button type="button" class="btn btn-outline-success btn-sm" (click)="onEditClick($event,task.id)">
            Edytuj
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteClick($event,task.id)">
            Usuń
          </button>
        </div>
      </td>
    </tr>

    </tbody>
  </table>

</div>

<div>
  <button class="btn btn-outline-secondary btn-light btn-sm"
          [routerLink]="['/newTask']"
          [disabled]="isDisabled()">
    Nowe zadanie
  </button>
</div>


<div>
  <button class="btn btn-outline-danger btn-sm"
          (click)="enableNewTask($event)">
    Przełącz
  </button>
</div>


