<div class="container-fluid" style="border: 1px solid coral">

  <div class="row justify-content-center">

    <button class="btn btn-outline-dark"
            [ngStyle]="{'height':'50px'}"
            [disabled]="isFirstMonthSelected()"
            (click)="prevMonth()"> <
    </button>

    <button class="btn btn-outline-dark" [ngStyle]="{'width':'400px'}">{{displayedMonth}}</button>


    <!--    <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="monthsCombobox" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Combobox
          </button>

          <div class="dropdown-menu" aria-labelledby="monthsCombobox">
            <ng-container *ngFor="let month of months">
              <a class="dropdown-item">{{month}}</a>
            </ng-container>
          </div>

        </div>-->

    <button class="btn btn-outline-dark"
            [ngStyle]="{'width':'100px'}"
            [disabled]="isLastMonthSelected()"
            (click)="nextMonth()"> >
    </button>

  </div>

  <div class="row justify-content-center">

    <ng-container *ngFor="let day of month.days">
      <div
        id="dayDiv"
        class="col-6 col-md-4 col-lg-2 "
        style="border: 1px solid aliceblue; height: 100px"
        [ngClass]="{holidayStyle : day.holiday}">

        {{ day.date | date:'d' }}

        <div *ngIf="day.tasks.length > 0"
             [ngStyle]="{float:'right'}"
             appTaskAdded>
        </div>

        <button
          type="submit"
          class="btn btn-outline-dark btn-sm  btn-block"
          (click)="divOnClick(content,day)">
          Szczegóły
        </button>

      </div>

    </ng-container>

  </div>

</div>


<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Szczegóły dnia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Id:
    <p>{{selectedDay.id}}</p>
    Dzień tygodnia
    <p>{{selectedDay.dayOfWeek}}</p>
    Data:
    <p>{{selectedDay.date | date}}</p>
    Dzień wolny:
    <p>{{selectedDay.holiday }}</p>
    Liczba zadań:
    <div>
      <p>[{{selectedDay.tasks.length}}] <span>Przeglądaj...</span></p>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>
