<p>
  {{month.id}}
  {{month.name}}
  {{month.days != null ? month.days.length : 'brak'}}
</p>

<div class="container-fluid" style="border: 1px solid coral">

  <div class="row justify-content-center">

    <ng-container *ngFor="let day of month.days">
      <div
        id="dayDiv"
        class="col-6 col-md-4 col-lg-2 "
        style="border: 1px solid aliceblue; height: 100px">

        DAY: {{day.dayOfWeek}}

        <button
          type="submit"
          class="btn btn-outline-dark btn-sm  btn-block mt-4"
          (click)="divOnClick(content,day)">
          Szczegóły
        </button>

      </div>

    </ng-container>

  </div>

</div>


<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Szczegóły dnia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Id:<p>{{selectedDay.id}}</p>
    Dzień tygodnia<p>{{selectedDay.dayOfWeek}}</p>
    Data: <p>{{selectedDay.date | date}}</p>
    Lista zadań: <p>{{selectedDay.tasks.length}}</p>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>
