<p>
  {{month.id}}
  {{month.name}}
  {{month.days.length}}
</p>

<div class="container-fluid" style="border: 1px solid coral">

  <div class="row justify-content-center">

    <ng-container *ngFor="let day of month.days">
      <div
        id="dayDiv"
        class="col-6 col-md-4 col-lg-2 "
        style="border: 1px solid aliceblue; height: 100px"
        (click)="divOnClick(content)"
        (mouseover)="divOnHover($event)"
        [routerLink]="['/dayDetail', day]">
        {{day.id}}
        {{day.dayOfWeek}}
        {{day.date}}
        {{day.isHoliday}}
      </div>

    </ng-container>

  </div>

</div>


<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Szczegóły dnia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p></p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>
